body { font-family: sans-serif; text-align: center; background: #141C33; color: white; }

.container { background: #2F456F; max-width: 500px; margin: 0 auto; padding: 20px; border-radius: 10px; }

input[type="text"] { padding: 10px; width: 70%; border-radius: 4px; border: none;}

input[type="submit"] { padding: 10px; background: #3db4f2; color: white; border: none; border-radius: 4px; cursor: pointer; }

.result { margin-top: 30px; text-align: left; }

.stat-box { background: #1a1c29; padding: 15px; margin-bottom: 10px; border-radius: 8px; }

img { border-radius: 50%; width: 150px; display: block; margin: 0 auto; }

h1, h2, h3 { color: white; }

a { color: #3db4f2; }

.error { color: #ff4444; margin-top: 20px; font-weight: bold; }

nav { background: #1a1c29; padding: 15px; margin-bottom: 30px; }

nav a { color: white; text-decoration: none; padding: 10px 20px; font-weight: bold; font-size: 18px; }

nav a:hover { color: #3db4f2; }
